{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}-SigmaPythonHUB</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <!-- ANDROID CHROME -->
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}">
    


    <!-- 
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="SigmaPythonHUB">
    <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    
    
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="SigmaPythonHUB is a platform for learning programming languages and computer science.">
    <meta name="keywords" content="Python, Django, HTML, CSS, JavaScript, Bootstrap, TailwindCSS, C, C++, Java, Kotlin, Swift, Dart, Flutter, Android, iOS, Web Development, Mobile Development, Computer Science, Data Science, Machine Learning, Artificial Intelligence, SigmaPythonHUB">
    <meta name="author" content="SigmaPythonHUB">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">

    <meta property="og:title" content="SigmaPythonHUB">
    <meta property="og:description" content="SigmaPythonHUB is a platform for learning programming languages and computer science.">
    <meta property="og:image" content="{% static 'favicon/apple-touch-icon.png' %}">
    <meta property="og:url" content="https://sigmapythonhub.com/">
    <meta property="og:site_name" content="SigmaPythonHUB">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US"> -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'module/croper/cropper.js' %}"></script>
    <link href="{% static 'module/croper/cropper.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script type="text/javascript" src="{% static 'module/lightbox2/js/lightbox-plus-jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'module/lightbox2/css/lightbox.min.css' %}">

    <script src="{% static 'module/owlcarousel2/owl.carousel.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'module/owlcarousel2/assets/owl.carousel.min.css' %}">

    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body> 

    {% include 'include_block/_main_navbar.html' %}
    
    
    
    <div class="container">

      {% block breadcrumbs %}
        {% include 'include_block/_breadcrumbs.html' %}
      {% endblock %}

      {% if messages %}
        {% for message in messages %}
          <div class="mt-3 alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}



        {% block content %}{% endblock %}
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
  </body>
</html>
